
        @font-face {
            font-family: MyFont;
            src: url(Outfit/Outfit-VariableFont_wght.ttf);
        }

        body {
            background-color: #e3e9f7;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;

        }

        .main {
            width: 320px;
            border-radius: 15px;
            background-color: white;
            padding: 10px;
            align-self: center;
            align-content: center;
        }

        img {
            max-width: 100%;
            border-radius: 15px;

        }

        .text-1 {
            width: 320px;
            border-radius: 15px;
            background-color: white;
            margin-top: 15px;
            margin-bottom: 10px;
            font-family: Myfont;
            font-size: 22px;
            font-weight: 700;
            text-align: center;
            line-height: 28px;
            color: black;
        }

        .text-2 {
            width: 320px;
            border-radius: 15px;
            background-color: white;
            margin-top: 15px;
            margin-bottom: 10px;
            padding-bottom: 25px;
            font-family: Myfont;
            font-size: 15px;
            font-weight: 400;
            text-align: center;
            line-height: 19px;
            color: #7D889E;
        }
